# Node / Yarn
node_modules
*.log
.nvm
npm-debug.log
yarn-error.log
*.tgz

# OS X
.DS_Store

# Emacs
*~

#jest
coverage/

# VSCode
.vscode/

# Directory used to store test apps for validating plugin compatibility
ci-test-apps/

test-app/local.env