build
lib

# Node / Yarn
node_modules
*.log
.nvm
npm-debug.log
yarn-error.log

# OS X
.DS_Store

# Emacs
*~

#jest
coverage/

# VSCode
.vscode/

# API Extractor - keep only the API report for change detection
api-extractor-output/*.d.ts
api-extractor-output/*.api.json
api-extractor-output/temp/