name: Publish test apps

on:
  pull_request:
  push:
    branches: [ main, beta, feature/* ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-sample-apps:
    uses: ./.github/workflows/reusable_build_sample_apps.yml
    with:
      use_latest_sdk_version: false
    secrets: inherit
