name: Unpublish Expo plugin NPM Version

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The version of the customerio-expo-plugin package to unpublish'
        required: true
        type: string

jobs:
  unpublish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "20"

      - name: Unpublish NPM Version
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: ./scripts/unpublish-npm-version.sh ${{ github.event.inputs.version }}
